<div class="flex h-[30rem] flex-col bg-light-high p-3 dark:bg-dark-high">
  <div class="flex items-center">
    <h3 class="flex-1 text-sm font-medium">{{ title }}</h3>
    <button
      class="rounded-md p-2 hover:bg-light-lowest hover:dark:bg-dark-lowest"
      (click)="onClose()">
      <fa-icon [fixedWidth]="true" [icon]="faTimes"></fa-icon>
    </button>
  </div>
  <div class="mt-3 flex-1 space-y-3 overflow-y-auto px-2 pb-10 text-xs">
    <!-- feature: item per page -->
    <div class="item-per-page space-y-3">
      <div class="item-per-page-options">
        <h2 class="mb-3 font-medium">Item Per Page</h2>
        <div class="flex flex-wrap gap-3">
          <button
            type="button"
            autofocus
            class="cursor-pointer rounded-full border border-slate-300 px-2 py-1 dark:border-slate-800"
            [ngClass]="{
              'bg-light-lowest dark:bg-dark-lowest':
                itemPerPageOption.value == itemPerPage
            }"
            *ngFor="let itemPerPageOption of itemPerPageOptions"
            (click)="itemPerPage = itemPerPageOption.value">
            {{ itemPerPageOption.label }}
          </button>
        </div>
      </div>
    </div>
    <!-- feature: On Page -->
    <div class="form">
      <h2 class="mb-3 font-medium">Page</h2>
      <p-inputNumber
        class="w-full"
        styleClass="text-slate-300 border rounded-md bg-light-low border-light-lowest dark:bg-dark-low dark:border-dark-lowest h-8 w-full"
        [(ngModel)]="curPage"
        [showButtons]="true"
        [min]="1"
        [max]="totalPages"
        mode="decimal"></p-inputNumber>
    </div>
  </div>
  <div class="flex justify-end gap-3 pt-3">
    <button
      type="button"
      class="fc-animate-translate-up flex items-center gap-2 rounded-md bg-light-lowest p-2 text-sm dark:bg-dark-lowest"
      (click)="submit()">
      Submit
    </button>
  </div>
</div>
