<div class="flex h-full flex-col space-y-3">
  <app-fc-action-bar [isHasBackButton]="true" [actionButtons]="actionButtons">
  </app-fc-action-bar>
  <div class="body h-full w-full overflow-y-auto py-5 text-xs">
    <form [formGroup]="supplierForm" class="grid w-full gap-3 lg:grid-cols-2">
      <label
        class="form-input flex flex-col rounded-lg bg-light-lowest p-2 dark:bg-dark-low"
        for="name">
        <p
          class="m-0 block p-0 text-2xs font-medium leading-5 text-dark-lowest dark:text-white/60">
          Name
        </p>
        <input
          class="m-0 w-full bg-light-lowest p-0 text-xs ring-0 focus:outline-none focus:ring-0 dark:bg-dark-low"
          type="text"
          formControlName="name"
          id="name"
          placeholder="Enter Name" />
      </label>
      <label
        class="form-input flex flex-col rounded-lg bg-light-lowest p-2 dark:bg-dark-low"
        for="pic">
        <p
          class="m-0 block p-0 text-2xs font-medium leading-5 text-dark-lowest dark:text-white/60">
          PIC
        </p>
        <input
          class="m-0 w-full bg-light-lowest p-0 text-xs ring-0 focus:outline-none focus:ring-0 dark:bg-dark-low"
          type="text"
          formControlName="pic"
          id="pic"
          placeholder="Enter PIC" />
      </label>
      <label
        class="form-input flex flex-col rounded-lg bg-light-lowest p-2 dark:bg-dark-low"
        for="contact_no">
        <p
          class="m-0 block p-0 text-2xs font-medium leading-5 text-dark-lowest dark:text-white/60">
          Contact Number
        </p>
        <input
          class="m-0 w-full bg-light-lowest p-0 text-xs ring-0 focus:outline-none focus:ring-0 dark:bg-dark-low"
          type="tel"
          formControlName="contact_no"
          id="contact_no"
          placeholder="Enter Contact Number" />
      </label>

      <label
        class="form-input flex flex-col rounded-lg bg-light-lowest p-2 dark:bg-dark-low"
        for="tax_no">
        <p
          class="m-0 block p-0 text-2xs font-medium leading-5 text-dark-lowest dark:text-white/60">
          Tax Number
        </p>
        <input
          class="m-0 w-full bg-light-lowest p-0 text-xs ring-0 focus:outline-none focus:ring-0 dark:bg-dark-low"
          type="tel"
          formControlName="tax_no"
          id="tax_no"
          placeholder="Enter Tax Number" />
      </label>
      <label
        class="form-input flex flex-col rounded-lg bg-light-lowest p-2 dark:bg-dark-low"
        for="address">
        <p
          class="m-0 block p-0 text-2xs font-medium leading-5 text-dark-lowest dark:text-white/60">
          Address
        </p>
        <input
          class="m-0 w-full bg-light-lowest p-0 text-xs ring-0 focus:outline-none focus:ring-0 dark:bg-dark-low"
          type="tel"
          formControlName="address"
          id="address"
          placeholder="Enter Address" />
      </label>
    </form>
    <!-- Supplier Bank Account -->
    <div class="mt-6 grid w-full gap-3">
      <div class="flex-1">
        <div class="mb-3 flex items-center justify-between">
          <p>Supplier Bank Account</p>
          <div>
            <button
              type="button"
              (click)="addSupplierBankAccount()"
              class="flex items-center gap-1 rounded-md text-xs text-white">
              <fa-icon [fixedWidth]="true" [icon]="faPlus"></fa-icon>
              <p>Add Account</p>
            </button>
          </div>
        </div>
        <div *ngIf="supplierBankAccounts.value.length" class="grid gap-2">
          <ng-container
            *ngFor="
              let supplierBankAccount of supplierBankAccounts.value;
              let i = index
            ">
            <div class="@container">
              <div
                class="fc-animate-translate-up grid grid-cols-1 items-center justify-between gap-1 rounded-md border border-light-low bg-light-low p-3 hover:border-primary-light @lg:flex @lg:gap-5 dark:border-dark-low dark:bg-dark-low hover:dark:border-primary-light">
                <div class="space-y-1 @xl:flex-1">
                  <p class="text-2xs">Bank Name</p>
                  <p>
                    {{ supplierBankAccount.bank }}
                  </p>
                </div>
                <div class="space-y-1 @xl:flex-1">
                  <p class="text-2xs">Account No</p>
                  <p>
                    {{ supplierBankAccount.account_no }}
                  </p>
                </div>
                <div class="space-y-1 @xl:flex-1">
                  <p class="text-2xs">Swift Code</p>
                  <p>
                    {{ supplierBankAccount.swift_code }}
                  </p>
                </div>
                <div class="flex justify-end gap-2">
                  <button
                    (click)="editSupplierBankAccountDetail(i)"
                    type="button"
                    class="btn-high flex rounded-lg p-2">
                    <fa-icon class="text-xs" [icon]="faPencil"></fa-icon>
                  </button>
                  <button
                    (click)="deleteSupplierBankAccountDetail(i)"
                    type="button"
                    class="btn-high flex rounded-lg p-2">
                    <fa-icon class="text-xs" [icon]="faTrash"></fa-icon>
                  </button>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
        <div
          *ngIf="!supplierBankAccounts.value.length"
          class="flex h-10 w-full items-center justify-center text-center">
          No Supplier Bank Accounts Data
        </div>
      </div>
    </div>
    <app-fc-action-bar
      class="[&_.action-bar]:bg-transparent [&_.action-bar]:p-0 [&_.btn-action:hover]:bg-green-600 dark:[&_.btn-action:hover]:bg-green-600 [&_.btn-action]:bg-green-500 [&_.btn-action]:dark:bg-green-700"
      actionButtonAlign="right"
      [actionButtons]="actionButtons">
    </app-fc-action-bar>
  </div>
</div>
