@import './vendors/tailwind/tailwind.css';
@import './vendors/prime-ng/prime-ng.css';
@import './utils/buttons.css';

/* Track */
.dark ::-webkit-scrollbar-track {
  box-shadow: transparent;
  border-radius: 8px;
}
/* Handle */
.dark ::-webkit-scrollbar-thumb {
  @apply rounded-md bg-dark-lowest;
}
/* Handle on hover */
.dark ::-webkit-scrollbar-thumb:hover {
  @apply bg-dark-lowest;
}

.fc-animate-scale {
  @apply transition ease-in-out hover:scale-150;
}
.fc-animate-translate-up {
  @apply transition ease-in-out hover:-translate-y-1;
}
/* Scroll bar */
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  position: absolute;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: transparent;
  border-radius: 8px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  @apply rounded-md bg-light-lowest;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply rounded-md bg-light-lowest;
}

/* button */
.btn-slate {
  @apply border-slate-500 bg-slate-500 text-white/80;
}
.btn-slate:not([disabled]):hover {
  @apply bg-slate-600;
}
.dark .btn-slate {
  @apply bg-slate-800;
}
.dark .btn-slate:not([disabled]):hover {
  @apply bg-slate-700;
}

.btn-gray {
  @apply border-gray-500 bg-gray-500 text-white/80;
}
.btn-gray:not([disabled]):hover {
  @apply bg-gray-600;
}
.dark .btn-gray {
  @apply bg-gray-800;
}
.dark .btn-gray:not([disabled]):hover {
  @apply bg-gray-700;
}

.btn-emerald {
  @apply border-emerald-500 bg-emerald-500 text-white/80;
}
.btn-emerald:not([disabled]):hover {
  @apply bg-emerald-600;
}
.dark .btn-emerald {
  @apply bg-emerald-800;
}
.dark .btn-emerald:not([disabled]):hover {
  @apply bg-emerald-700;
}

.btn-sky {
  @apply border-sky-500 bg-sky-500 text-white/80;
}
.btn-sky:not([disabled]):hover {
  @apply bg-sky-600;
}
.dark .btn-sky {
  @apply bg-sky-800;
}
.dark .btn-sky:not([disabled]):hover {
  @apply bg-sky-700;
}

.btn-teal {
  @apply border-teal-500 bg-teal-500 text-white/80;
}
.btn-teal:not([disabled]):hover {
  @apply bg-teal-600;
}
.dark .btn-teal {
  @apply bg-teal-800;
}
.dark .btn-teal:not([disabled]):hover {
  @apply bg-teal-700;
}

.btn-orange {
  @apply border-orange-500 bg-orange-500 text-white/80;
}
.btn-orange:not([disabled]):hover {
  @apply bg-orange-600;
}
.dark .btn-orange {
  @apply bg-orange-800;
}
.dark .btn-orange:not([disabled]):hover {
  @apply bg-orange-700;
}

.btn-red {
  @apply border-red-500 bg-red-500 text-white/80;
}
.btn-red:not([disabled]):hover {
  @apply bg-red-600;
}
.dark .btn-red {
  @apply bg-red-800;
}
.dark .btn-red:not([disabled]):hover {
  @apply bg-red-700;
}

.btn-cyan {
  @apply border-cyan-500 bg-cyan-500 text-white/80;
}
.btn-cyan:not([disabled]):hover {
  @apply bg-cyan-600;
}
.dark .btn-cyan {
  @apply bg-cyan-800;
}
.dark .btn-cyan:not([disabled]):hover {
  @apply bg-cyan-700;
}
.p-dialog.p-confirm-dialog {
  @apply bg-light-low dark:bg-dark-low;
}
.p-dialog.p-confirm-dialog .p-dialog-header {
  @apply text-base font-semibold p-3;
}
.p-dialog.p-confirm-dialog .p-dialog-header .p-dialog-title {
  @apply text-base font-semibold;
}
.p-dialog.p-confirm-dialog .p-dialog-content {
  @apply p-3 text-sm;
}
.p-dialog.p-confirm-dialog .p-dialog-content i {
  @apply text-sm;
}
.p-dialog.p-confirm-dialog .p-dialog-footer {
  @apply p-3 dark:bg-dark-low;
}
.p-dialog.p-confirm-dialog .p-dialog-footer button {
  @apply py-1 px-3 text-xs dark:bg-dark-low hover:dark:bg-dark-lowest border-none ring-0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/*
zindex tier
toast = 100
confirm = 90
img-preview = 80
dialog = 70
drawer = 60
mobile nav = 50
*/
.fc-toast {
  @apply z-[100];
}
.fc-confirm {
  @apply z-[90];
}
.fc-image-preview {
  @apply z-[80];
}
.p-dialog-mask.p-component-overlay {
  @apply z-[70] !important;
}
.fc-drawer {
  @apply z-[60];
}
.fc-mobile-nav {
  @apply z-[50];
}
