<div class="flex items-center justify-center">
  <div class="w-96 rounded-lg border p-2 shadow-md md:w-full md:p-4">
    <div class="mb-2 flex items-center justify-between">
      <button
        class="rounded-lg border px-2 py-1 font-semibold hover:bg-gray-200"
        (click)="previousMonth()">
        <fa-icon [fixedWidth]="true" [icon]="faLeft"></fa-icon>
      </button>
      <div class="grid grid-rows-1 text-center">
        <span class="text-lg font-semibold">{{
          currentMonth.format('MMMM')
        }}</span>
        <span class="text-sm font-semibold text-gray-400">{{
          currentMonth.format('YYYY')
        }}</span>
      </div>
      <button
        class="rounded-lg border px-2 py-1 font-semibold hover:bg-gray-200"
        (click)="nextMonth()">
        <fa-icon [fixedWidth]="true" [icon]="faRight"></fa-icon>
      </button>
    </div>

    <div class="grid grid-cols-7 gap-1 p-1 text-center md:gap-2 md:p-2">
      <div
        class="font-semibold"
        *ngFor="let day of daysOfWeek; let i = index"
        [ngClass]="{ 'text-red-500': i === 0 }">
        {{ day }}
      </div>

      <div class="p-1 md:p-3" *ngFor="let day of daysInMonth; let i = index">
        <ng-container *ngIf="day">
          <div class="relative flex flex-col items-center">
            <span
              class="flex h-8 w-8 items-center justify-center rounded-full md:h-10 md:w-10"
              (click)="selectDate(day.dayNumber)"
              [ngClass]="{
                'bg-blue-500 text-white': isSelected(day.dayNumber),
                'cursor-pointer': day?.dayNumber,
                'text-red-500': day?.isSunday,
                'hover:bg-gray-200': true
              }">
              {{ day?.dayNumber }}
            </span>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
