<div class="flex h-full @container gap-3">
  <div
    class="flex h-full w-full flex-col gap-3 @container transition-all duration-700 ease-in-out"
    [ngClass]="{
      '@3xl:w-full': !quickView,
      '@3xl:w-[20rem]': quickView
    }">
    <app-fc-action-bar
      [actionButtons]="actionButtons"
      [filterButtons]="filterButtons"></app-fc-action-bar>
    <div class="body flex h-full w-full gap-3 overflow-y-auto text-xs">
      <!-- Data List -->
      <ng-container *ngIf="!loading && suppliers.length > 0">
        <div class="space-y-2 overflow-y-auto w-full py-2">
          <ng-container *ngFor="let supplier of suppliers">
            <div
              (dblclick)="onChangeSupplier(supplier)"
              class="fc-animate-translate-up grid cursor-pointer grid-cols-1 items-center justify-between rounded-md border border-light-low bg-light-low p-3 hover:border-primary-light @lg:flex dark:border-dark-low dark:bg-dark-low hover:dark:border-primary-light"
              [ngClass]="{
                'border-primary-light dark:border-primary-light':
                  selectedSupplier?.id == supplier.id && quickView
              }">
              <div class="grid flex-1 gap-1">
                <div class="flex gap-3">
                  <fa-icon [fixedWidth]="true" [icon]="faBuilding"></fa-icon>
                  <p>{{ supplier.name }} ({{ supplier.pic }})</p>
                </div>
                <div class="flex gap-3">
                  <fa-icon [fixedWidth]="true" [icon]="faPhone"></fa-icon>
                  <p>{{ supplier.contact_no }}</p>
                </div>
                <div class="flex gap-3">
                  <fa-icon [fixedWidth]="true" [icon]="faLocationDot"></fa-icon>
                  <p>{{ supplier.address }}</p>
                </div>
              </div>
              <div class="flex w-full justify-end @lg:w-[150px]">
                <button
                  type="button"
                  class="btn btn-high"
                  (click)="navigateToDetail(supplier)">
                  <fa-icon [fixedWidth]="true" [icon]="faEye"></fa-icon>
                </button>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>
      <ng-container *ngIf="!loading && suppliers.length == 0">
        <div class="w-full py-[20vh] text-center">
          <p>No data found</p>
        </div>
      </ng-container>
      <div class="w-full py-[20vh] text-center" *ngIf="loading">
        <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
        <p>Loading . . .</p>
      </div>
    </div>
    <div class="flex justify-end gap-3">
      <div class="w-full @lg:w-96">
        <fc-pagination
          [rows]="rows"
          [page]="page"
          [totalPages]="totalPages"
          [totalRecords]="totalRecords"
          (onPageUpdate)="onPageUpdate($event)"></fc-pagination>
      </div>
    </div>
  </div>
  <div
    class="flex-1 hidden @3xl:block"
    *ngIf="selectedSupplier && quickView && suppliers.length > 0">
    <app-supplier-view
      [supplier]="selectedSupplier"
      [quickView]="quickView"
      (onDeleted)="onDeleted()"
      (onUpdated)="onUpdated($event)"></app-supplier-view>
  </div>
</div>
