<div class="flex h-screen flex-1 flex-col bg-light-low dark:bg-dark-low">
  <div class="flex items-center gap-3 p-5">
    <div class="flex-1">
      <img
        *ngIf="darkMode.isDark"
        class="h-6 translate-x-5 scale-[1.8]"
        src="../../../assets/images/logo/logo-image-white.webp"
        alt="Zet Admin" />
      <img
        *ngIf="!darkMode.isDark"
        class="h-6 translate-x-5 scale-[1.8]"
        src="../../../assets/images/logo/logo-image.webp"
        alt="Zet Admin" />
    </div>
    <button
      type="button"
      (click)="toggleSidebar()"
      class="btn-high flex rounded-lg px-3 py-2">
      <fa-icon class="text-xs" [icon]="faChevronLeft"></fa-icon>
      <fa-icon class="text-xs" [icon]="faChevronLeft"></fa-icon>
    </button>
  </div>
  <div class="h-full flex-1 overflow-y-auto">
    <nav aria-label="Sidebar">
      <div
        *ngFor="let mainMenu of mainMenus"
        class="relative w-full items-center text-xs">
        <ng-container *ngIf="!mainMenu.subMenus">
          <a
            class="relative block flex-1 cursor-pointer px-5 py-2 hover:bg-primary-light hover:text-white dark:hover:bg-primary-dark"
            [routerLink]="mainMenu.route"
            routerLinkActive=" [&>.indicator]:block text-white bg-primary-light dark:bg-primary-dark">
            <div>{{ mainMenu.name }}</div>
            <span
              class="indicator absolute left-0 top-0 hidden h-full w-2 bg-primary dark:bg-primary"></span>
          </a>
        </ng-container>
        <ng-container *ngIf="mainMenu.subMenus">
          <a
            (click)="mainMenu.showRoutes = !mainMenu.showRoutes"
            class="relative flex w-full flex-1 cursor-pointer items-center px-5 py-2 hover:bg-primary-light hover:text-white dark:hover:bg-primary-dark"
            [ngClass]="{
              'bg-primary-light text-white dark:bg-primary-dark [&>.indicator]:block':
                mainMenu.showRoutes
            }">
            <div class="flex-1">{{ mainMenu.name }}</div>
            <div
              class="fc-animate-scale"
              [ngClass]="{ 'rotate-180': !mainMenu.showRoutes }">
              <fa-icon [icon]="faChevronUp"></fa-icon>
            </div>
            <span
              class="indicator absolute left-0 top-0 hidden h-full w-2 dark:bg-primary"></span>
          </a>
          <div class="mx-7 my-1" *ngIf="mainMenu.showRoutes">
            <ng-container *ngFor="let subMenu of mainMenu.subMenus">
              <a
                class="block cursor-pointer rounded-md px-2 py-2 hover:bg-light-lowest dark:hover:bg-dark-lowest"
                [routerLink]="subMenu.route"
                routerLinkActive="bg-light-lowest dark:bg-dark-lowest">
                {{ subMenu.name }}
              </a>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </nav>
  </div>

  <div class="px-4 py-3">
    <p class="block text-center text-2xs">
      © 2023 Zet Administration System
    </p>
    <p class="block text-center text-2xs">Design and Developed by Folxcode</p>
  </div>
</div>
