<label
  class="form-input flex items-center gap-2 rounded-lg border border-light-lowest bg-light-high p-2 focus-within:border-primary-light/80 dark:border-dark-lowest dark:bg-dark-low focus-within:dark:border-dark-lowest"
  [ngClass]="{ 'opacity-50': disabled }"
  [for]="uniqueId">
  <div class="flex flex-1 flex-col">
    <p
      class="m-0 block p-0 text-2xs font-medium leading-5 text-dark-lowest dark:text-white/60">
      {{ title }}
    </p>
    <!-- <p-inputNumber
      inputId="inputNumber"
      class="m-0 w-full bg-light-lowest [&_input]:w-full [&_input]:p-0 text-xs ring-0 [&_input:focus]:outline-none [&_input:focus]:ring-0 dark:bg-dark-low"
      styleClass="w-full border-none outline-none ring-0 [box-shadow:none] [&_input:hover]:border-transparent"
      [(ngModel)]="value">
    </p-inputNumber> -->
    <input
      #fcNumber
      class="m-0 w-full bg-light-high p-0 text-xs ring-0 focus:outline-none focus:ring-0 dark:bg-dark-low"
      type="number"
      [id]="uniqueId"
      [(ngModel)]="value"
      (input)="onValueChange(value)"
      [min]="min"
      [max]="max"
      [disabled]="disabled"
      [readonly]="readonly"
      [placeholder]="placeholder" />
  </div>
  <button
    type="button"
    (click)="onRemoveValue()"
    *ngIf="value != null && value != 0 && !disabled && !readonly">
    <fa-icon [icon]="faTimes" [fixedWidth]="true"></fa-icon>
  </button>
  <fc-calculator
    *ngIf="!disabled && !readonly"
    (onSubmit)="onValueChange($event)"
    [target]="fcNumber"></fc-calculator>
</label>
